<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luckyun.tjam.mtAssetMag.assetDailyMag.mapper.AmAssetChangeAttMapper">

    <!-- 查询所有 -->
    <select id="findAll" resultType="com.luckyun.tjam.mtAssetMag.assetDailyMag.model.AmAssetChangeAtt"
            parameterType="com.luckyun.tjam.mtAssetMag.assetDailyMag.param.AmAssetChangeAttParam">
        select a.indocno,a.ilinkno,a.sfname,a.sregid,a.dregt from am_asset_change_att a
        order by a.dregt desc
    </select>

    <!-- 查询单条 -->
    <select id="findOne" resultType="com.luckyun.tjam.mtAssetMag.assetDailyMag.model.AmAssetChangeAtt" parameterType="Long">
		select a.*
		from am_asset_change_att a
		where a.indocno = #{indocno}
	</select>

    <!-- 通过外键查询所有 -->
    <select id="findAllByIlinkno" resultType="com.luckyun.tjam.mtAssetMag.assetDailyMag.model.AmAssetChangeAtt" parameterType="Long">
		select a.* from am_asset_change_att  a
		where a.ilinkno = #{ilinkno}
		order by a.dregt desc
	</select>


</mapper>
