<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luckyun.tjam.mtAssetMag.assetLowValueTransfer.mapper.AmDurLvConsTransferDtMapper">

    <!-- 查询所有 -->
    <select id="findAll" resultType="com.luckyun.tjam.mtAssetMag.assetLowValueTransfer.model.AmDurLvConsTransferDt"
            parameterType="com.luckyun.tjam.mtAssetMag.assetLowValueTransfer.param.AmDurLvConsTransferDtParam">
        select a.indocno,a.sfcode,a.sfname,a.iapprovalstate,a.ilineid
        ,a.iqty,a.seqclassno,a.idutyid,a.smajornm,,a.imanagedeptid,a.iuserid from am_dur_lv_cons_transfer_dt a
        where a.idel = 0
        order by a.dregt desc
    </select>

    <!-- 查询单条 -->
    <select id="findOne" resultType="com.luckyun.tjam.mtAssetMag.assetLowValueTransfer.model.AmDurLvConsTransferDt" parameterType="Long">
        select a.*
        from am_dur_lv_cons_transfer_dt a
        where a.indocno = #{indocno} and a.idel = 0
    </select>


    <!-- 通过外键查询所有 -->
    <select id="findAllByIlinkno" resultType="com.luckyun.tjam.mtAssetMag.assetLowValueTransfer.model.AmDurLvConsTransferDt" parameterType="Long">
        select a.* from am_dur_lv_cons_transfer_dt  a
        where a.ilinkno = #{ilinkno}
        order by a.dregt desc
    </select>

    <!-- 查询数量 -->
    <select id="findCount" resultType="java.lang.Integer" >
        select count(0)
        from am_dur_lv_cons_transfer_dt a
        where a.idel = 0
    </select>


</mapper>
