<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luckyun.tjam.mtAssetMag.amAssetFree.mapper.AmAssetFreeMapper">

    <!-- 查询所有 -->
    <select id="findAll" resultType="com.luckyun.tjam.mtAssetMag.amAssetFree.model.AmAssetFree"
            parameterType="com.luckyun.tjam.mtAssetMag.amAssetFree.param.AmAssetFreeParam">
        select a.indocno,a.sfcode,a.sfname,a.iapprovalstate,a.ideptid,a.sregid,a.snote
        ,count(b.indocno) as iqty,a.ilineid,a.dregt,a.idel from am_asset_free a
        LEFT JOIN AM_ASSET_FREE_DT b on a.indocno = b.ilinkno and b.idel =0
        where a.idel = 0
        group by a.indocno,a.sfcode,a.sfname,a.iapprovalstate,
          a.ideptid,a.sregid,a.snote,a.ilineid,a.dregt,a.idel
    </select>

    <!-- 查询单条 -->
    <select id="findOne" resultType="com.luckyun.tjam.mtAssetMag.amAssetFree.model.AmAssetFree" parameterType="Long">
        select a.*
        from am_asset_free a
        where a.indocno = #{indocno} and a.idel = 0
    </select>

    <!-- 查询当前天最大编号 -->
    <select id="findMaxSappmtno" resultType="com.luckyun.tjam.mtAssetMag.amAssetFree.model.AmAssetFree"
            parameterType="com.luckyun.tjam.mtAssetMag.amAssetFree.param.AmAssetFreeParam">
        select a.sfcode from am_asset_free a
        where a.idel = 0 and a.sfcode like '%${condition.sfcode}%' order by a.sfcode desc
    </select>

    <!-- 查询当前天最大编号 -->
    <select id="findMaxSname" resultType="com.luckyun.tjam.mtAssetMag.amAssetFree.model.AmAssetFree"
            parameterType="com.luckyun.tjam.mtAssetMag.amAssetFree.param.AmAssetFreeParam">
        select a.sfname from am_asset_free a
        where a.idel = 0 and a.sfname like '%${condition.sfname}%' order by a.sfname desc
    </select>


</mapper>
