<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luckyun.tjam.mtAssetMag.asledag.mapper.AmBasicDepreciationMapper">


    <!-- 通过外键查询所有明细 -->
    <select id="findAllByIbillid" resultType="com.luckyun.tjam.mtAssetMag.asledag.model.AmBasicDepreciation"
            parameterType="Long">
    	select a.* from am_basic_depreciation a
		where a.idel = 0 and a.ilinkno = #{ilinkno}
		order by a.dregt desc
	</select>


</mapper>
