<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luckyun.tjam.mtAssetMag.amDurableLowValue.mapper.AmDurLvConsumableAttMapper">


    <!-- 通过外键查询所有 -->
    <select id="findAllByIlinkno" resultType="com.luckyun.tjam.mtAssetMag.amDurableLowValue.model.AmDurLvConsumableAtt" parameterType="Long">
		select a.* from am_dur_lv_consumable_att a
		where a.ilinkno = #{ilinkno}
		order by a.dregt desc
	</select>


</mapper>
